@import 'media';

@mixin flex-box(
	$flex-direction: row,
	$justify-content: unset,
	$align-items: unset,
	$align-content: unset
) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
	align-content: $align-content;
}

@mixin mat-icon-size($size: 16px) {
	width: $size;
	height: $size;
	font-size: $size;
}

@mixin set-all-media($property, $default-value, $small-desktop-value, $tablet-value, $phone-value) {
	#{$property}: $default-value;

	@include media('>tablet', '<=smalldesktop') {
		#{$property}: $small-desktop-value;
	}

	@include media('>phone', '<=tablet') {
		#{$property}: $tablet-value;
	}

	@include media('>=0', '<=phone') {
		#{$property}: $phone-value;
	}
}
