@mixin flex-box(
	$flex-direction: row,
	$justify-content: unset,
	$align-items: unset,
	$align-content: unset
) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
	align-content: $align-content;
}

@mixin mat-icon-size($size: 16px) {
	width: $size;
	height: $size;
	font-size: $size;
}
