@import 'mixins.scss';
@import 'media.scss';

:host {
	height: 100vh;

	@include flex-box(column, center, center, center);

	mat-card {
		width: 30vw;
		padding: 0;

		@include media('<=smalldesktop') {
			width: 45vw;
		}

		@include media('<=tablet') {
			width: 60vw;
		}

		@include media('<=phone') {
			width: 70vw;
		}

		> mat-card-header {
			background-color: var(--primary-color);
			border-radius: 4px 4px 0 0;

			mat-card-title,
			mat-card-subtitle {
				color: white;
			}

			mat-card-title {
				margin: 16px 16px 16px 0;
			}
		}

		mat-card-content {
			margin: 16px;
			gap: 10px;
			@include flex-box(row, space-around, center, center);

			> mat-form-field {
				flex: 3;
			}

			> button {
				flex: 1;
			}
		}
	}
}
