@import 'mixins';

:host {
	cursor: pointer;

	mat-icon {
		@include mat-icon-size(32px);

		&.primary {
			color: var(--primary-color);
		}

		&.accent {
			color: var(--accent-color);
		}

		&.deselected {
			color: #fff;
		}
	}
}
