<div *ngIf="forecast; else missingDataTemplate" class="forecast-container">
	<mat-toolbar-row>
		<span>{{ forecast.name }}</span>

		<wa-favourite [cityId]="forecast.id" color="primary"></wa-favourite>
	</mat-toolbar-row>

	<mat-card *ngFor="let day of forecast.days">
		<mat-card-header>
			<mat-card-title>
				{{ day.day | localizedDate | case }}
			</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<wa-day-time-weather dayTimeName="night" [dayTimeWeather]="day.night"></wa-day-time-weather>
			<wa-day-time-weather dayTimeName="morning" [dayTimeWeather]="day.morning"></wa-day-time-weather>
			<wa-day-time-weather dayTimeName="afternoon" [dayTimeWeather]="day.afternoon"></wa-day-time-weather>
			<wa-day-time-weather dayTimeName="evening" [dayTimeWeather]="day.evening"></wa-day-time-weather>
		</mat-card-content>
	</mat-card>
</div>

<ng-template #missingDataTemplate>
	<wa-missing-data
		title="{{ getLocalizationPath('missingDataTitle') | translate }}"
		message="{{ getLocalizationPath('missingDataMessage') | translate }}"
	>
	</wa-missing-data>
</ng-template>
