@import 'mixins';

:host {
	.forecast-container {
		@include flex-box(column, center, center, center);
		gap: 10px;

		> mat-toolbar-row {
			@include flex-box(row, center, center, center);
			background-color: var(--accent-color);
			border-radius: 4px;
			position: relative;

			> span {
				font-size: 3em;
				font-weight: bold;
				color: white;
			}

			> wa-favourite {
				position: absolute;
				right: 2%;
			}
		}

		mat-card {
			width: 100%;

			mat-card-content {
				@include flex-box(row, flex-start, flex-start center);
				flex-wrap: wrap;
				gap: 10px;
				padding-top: 16px;

				wa-day-time-weather {
					height: 100%;
					@include set-all-media(flex, 1 0 21%, 1 0 42%, 1 0 42%, 1 0 84%);
				}
			}
		}
	}
}
