<div class="forecast-container" *ngIf="viewForecast">
	<mat-toolbar-row>
		<span>{{ viewForecast.name }}</span>
	</mat-toolbar-row>

	<ng-container *ngFor="let day of viewForecast.days">
		<mat-card class="day-forecast">
			<mat-card-header>
				<mat-card-title>
					{{ day.day }}
				</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<ng-container *ngFor="let weather of day.viewWeathers">
					{{ weather.time }}
					<wa-basic-weather [viewData]="weather"></wa-basic-weather>
				</ng-container>
			</mat-card-content>
		</mat-card>
	</ng-container>
</div>
