@import 'mixins';
@import 'media';

mat-toolbar {
	min-height: var(--toolbar-height);
	max-height: var(--toolbar-height);

	> mat-toolbar-row {
		@include flex-box(row, space-between, center, center);
		color: white;
		min-height: var(--toolbar-height);
		max-height: var(--toolbar-height);

		> * {
			margin: auto 5px;
		}

		> a {
			text-decoration: none;
			color: white;

			&:hover {
				color: var(--accent-color);
			}
		}

		> span,
		wa-search {
			font-size: 1rem;
		}

		> .search-container {
			@include set-all-media(width, 35%, 40%, 45%, 50%);
			width: 35%;
			height: 100%;
			padding: 0 10px;
			align-self: flex-start;

			&:focus-within {
				background-color: var(--accent-color);
			}
		}
	}
}
