@import 'mixins.scss';
@import 'media.scss';

mat-toolbar {
	height: var(--toolbar-height);

	> mat-toolbar-row {
		@include flex-box(row, space-between, center, center);
		flex-wrap: wrap;
		color: white;

		> * {
			margin: 5px;
		}

		> span,
		wa-search {
			font-size: 1rem;
		}

		> .search-container {
			width: 35%;
			height: 75%;
			padding: 0 10px;
			border-radius: 4px;

			&:focus-within {
				background-color: var(--accent-color);
			}

			@include media('>tablet', '<=smalldesktop') {
				width: 40%;
			}

			@include media('>phone', '<=tablet') {
				width: 45%;
			}

			@include media('>=0', '<=phone') {
				width: 50%;
			}
		}
	}
}
