<wa-language-selector></wa-language-selector>

<div class="container">
	<div id="clouds">
		<div class="cloud x1"></div>
		<div class="cloud x1_5"></div>
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
	</div>
	<div class="c">
		<div class="_CODE">{{ this.errorCode }}</div>
		<hr />
		<div class="_1" translate>{{ firstLineMessagePath }}</div>
		<div class="_2" translate>{{ secondLineMessagePath }}</div>
		<a [routerLink]="['/app', 'home']" class="btn" translate>shared.errorPage.button</a>
	</div>
</div>
