<wa-language-selector></wa-language-selector>

<div class="container">
	<div id="clouds">
		<div class="cloud x1"></div>
		<div class="cloud x1_5"></div>
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
	</div>
	<div class="c">
		<div class="_CODE">{{ this.errorCode | translate | case: case }}</div>
		<hr />
		<div class="error-message _1">{{ firstLineMessagePath | translate | case: case }}</div>
		<div class="error-message _2">{{ secondLineMessagePath | translate | case: case }}</div>
		<a [routerLink]="['/app', 'home']" class="btn">{{ 'shared.errorPage.button' | translate | case: case }}</a>
	</div>
</div>
