@import 'mixins';
@import 'media';

:host {
	height: 100vh;
	@include flex-box(column, center, center, center);

	mat-card {
		width: 30vw;

		@include media('<=smalldesktop') {
			width: 45vw;
		}

		@include media('<=tablet') {
			width: 60vw;
		}

		@include media('<=phone') {
			width: 70vw;
		}

		mat-card-content {
			gap: 10px;
			@include flex-box(row, space-around, center, flex-end);

			> mat-form-field {
				flex: 5;
			}

			> button {
				flex: 1;
			}
		}

		mat-card-actions {
			text-align: center;
		}
	}
}
