<mat-sidenav-container [ngClass]="{ closed: closed }" fullscreen>
	<mat-sidenav mode="side" opened #sidebar>
		<wa-nav-item
			*ngFor="let item of navItems"
			matTooltip="{{ closed ? (item.label | translate) : null }}"
			[item]="item"
			[open]="!closed"
		>
		</wa-nav-item>

		<div
			matTooltip="{{ (closed ? getLocalizationPath('open') : getLocalizationPath('close')) | translate }}"
			class="sidebar-toggle"
			(click)="toggle()"
		>
			<mat-icon *ngIf="closed; else chevronLeft">chevron_right</mat-icon>
		</div>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="content">
			<ng-content select="[outlet]"></ng-content>

			<wa-footer [open]="!closed"></wa-footer>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #chevronLeft>
	<mat-icon>chevron_left</mat-icon>
</ng-template>
