@import 'mixins';

@function get-width($sidebar-width) {
	@return calc(100% - var(#{$sidebar-width}) - 20px);
}

:host-context {
	background-color: var(--accent-color);
	position: fixed;
	bottom: 0;
	width: 100%;
	border-radius: 4px 4px 0 0;
	text-align: center;
	color: #fff;
	height: var(--footer-height);

	@include flex-box(row, center, center);

	&.open {
		width: get-width(--sidebar-desktop-width);
	}

	&.closed {
		width: get-width(--sidebar-mobile-width);
	}

	@include media('>=0px', '<=phone') {
		width: get-width(--sidebar-mobile-width) !important;
	}

	> footer {
		font-weight: bold;

		> a {
			color: #fff;
		}
	}
}
