@import 'media';
@import 'mixins';

:host {
	@include flex-box(column);
	gap: 10px;

	mat-card-content.about-me {
		@include flex-box(column);
		gap: 5px;

		.summary {
			@include flex-box(row);
			gap: 5px;

			> .image-container {
				min-width: 118px;
				min-height: 156px;
				max-width: 118px;
				max-height: 156px;
				@include flex-box(column, center);

				> mat-spinner {
					margin: 0 auto;
				}
			}

			> p {
				text-align: justify;
				text-justify: inter-word;
				font-stretch: expanded;
				font-size: 16px;
			}
		}

		> .links {
			@include flex-box(row, center, center);
		}
	}

	mat-card-actions {
		display: flex;

		#cancel:not(.mat-button-disabled) {
			color: #999;
		}

		> button:not(.mat-button-disabled) {
			color: #fff;
		}
	}
}
