<mat-card *ngIf="profile">
	<mat-card-header>
		<mat-card-title translate>{{ getLocalizationPath('title') }} </mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="summary">
			<img [src]="profile.pictureUrl" />

			<p>
				{{ profile.summary }}
			</p>
		</div>
		<div class="links">
			<ng-container *ngFor="let link of profile.links">
				<a [href]="link.url" target="_blank">
					<img src="/assets/icons/{{ link.icon }}.png" [alt]="link.name" [matTooltip]="link.name" />
				</a>
			</ng-container>
		</div>
	</mat-card-content>
</mat-card>
