<mat-card *ngIf="profile">
	<mat-card-header>
		<mat-card-title translate>{{ getLocalizationPath('title') }} </mat-card-title>
	</mat-card-header>
	<mat-card-content class="about-me">
		<div class="summary">
			<div class="image-container">
				<mat-spinner *ngIf="loadingImage" color="primary" diameter="50" style="display: block; margin: 0 auto"></mat-spinner>
				<img [src]="profile.pictureUrl" (load)="loadingImage = false" />
			</div>

			<p>
				{{ summary }}
			</p>
		</div>
		<div class="links">
			<ng-container *ngFor="let link of profile.links">
				<a [href]="link.url" target="_blank">
					<img src="/assets/icons/{{ link.icon }}.png" [alt]="link.name" [matTooltip]="link.name" />
				</a>
			</ng-container>
		</div>
	</mat-card-content>
</mat-card>
