@import 'mixins';
@import 'media';

:host {
	.nav-item {
		width: 100%;

		> .nav-link {
			@include flex-box(row, unset, center);
			@include media('>=0px', '<=phone') {
				span {
					display: none;
				}
			}
			text-decoration: none;
			font-weight: 500;
			color: var(--disabled-color);

			mat-icon {
				@include mat-icon-size(var(--sidebar-icon-size));
			}

			&:hover {
				color: var(--primary-color) !important;
			}

			&.active {
				color: var(--accent-color) !important;
			}

			&:not(.active) {
				.current {
					display: none;
				}
			}

			> * {
				margin-right: 4px;
			}
		}
	}
}
