<ng-container *ngIf="favouriteCitiesViewData && favouriteCitiesViewData.length > 0; else missingDataTemplate">
	<div class="weather-container">
		<ng-container *ngFor="let viewData of favouriteCitiesViewData">
			<wa-weather-card [viewData]="viewData"></wa-weather-card>
		</ng-container>
	</div>
</ng-container>

<ng-template #missingDataTemplate>
	<wa-missing-data
		title="{{ getLocalizationPath('missingDataTitle') | translate }}"
		message="{{ getLocalizationPath('missingDataMessage') | translate }}"
	>
	</wa-missing-data>
</ng-template>
