@import 'mixins';

:host {
	.cities-container {
		@include flex-box(row, space-around, center, center);
		flex-wrap: wrap;
		gap: 10px;

		> wa-weather-card {
			@include set-all-media(min-width, 30%, 35%, 50%, 100%);
			flex: 1 1 0;
		}
	}
}
