<mat-card *ngIf="weather">
	<mat-card-header>
		<mat-card-title>{{ location || weather.name }}</mat-card-title>

		<mat-card-subtitle>
			{{ getLocalizationPath('time') | translate: { time: viewData.time } }}
		</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		<wa-basic-weather [viewData]="viewData"></wa-basic-weather>
	</mat-card-content>

	<mat-card-actions>
		<a class="view-forecast-link" [routerLink]="['/app', 'forecast', weather.id]" translate>
			{{ getLocalizationPath('viewForecast') }}
		</a>
	</mat-card-actions>
</mat-card>
