@import 'mixins';
@import 'media';

:root {
	--toolbar-height: 64px;
	--sidebar-desktop-width: 240px;
	--sidebar-mobile-width: 40px;
	--sidebar-icon-size: 16px;
	--footer-height: 30px;

	--disabled-color: #999;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;

	mat-card {
		padding: 0 0 16px 0 !important;

		> mat-card-header {
			background-color: var(--primary-color);
			border-radius: 4px 4px 0 0;

			mat-card-title,
			mat-card-subtitle {
				color: white !important;
			}

			mat-card-title {
				margin: 16px 16px 16px 0;
			}
		}

		mat-card-content,
		mat-card-actions {
			width: auto !important;
			margin: 0 16px !important;
		}

		mat-card-content.form {
			@include flex-box(column, center, center);
			width: 100%;

			.form-row {
				@include flex-box(row, space-between, center);
				gap: 10px;
				width: 100%;

				@include media('<=smalldesktop') {
					@include flex-box(column);
				}
			}

			.form-column {
				@include flex-box(column, center, center);
				gap: unset;
				width: 100%;

				> * {
					width: 100%;
				}
			}
		}

		mat-card-actions {
			@include flex-box(row, center);
		}
	}

	.mat-tooltip {
		background-color: var(--primary-color);
		color: var(--accent-color);
	}

	.weather-container {
		@include flex-box(row, space-around, center, center);
		flex-wrap: wrap;
		gap: 10px;

		> wa-weather-card {
			@include set-all-media(min-width, 30%, 35%, 50%, 100%);
			flex: 1 1 0;
		}
	}
}
