@import 'mixins';

:host {
	mat-form-field {
		width: 100%;

		mat-icon {
			cursor: pointer;
			@include mat-icon-size();

			&.spin {
				-webkit-animation: spin 4s linear infinite;
				-moz-animation: spin 4s linear infinite;
				animation: spin 4s linear infinite;
				color: var(--accent-color);
			}
		}
	}

	@-moz-keyframes spin {
		100% {
			-moz-transform: rotate(360deg);
		}
	}
	@-webkit-keyframes spin {
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes spin {
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}
