<div class="menu-trigger" [matMenuTriggerFor]="settingsMenu">
	<mat-icon>settings</mat-icon>
</div>

<mat-menu #settingsMenu="matMenu" yPosition="below" overlapTrigger="false" class="settings-menu" (click)="$event.stopPropagation()">
	<div class="setting culture-setting">
		<span translate>{{ getLocalizationPath('language') }}</span>

		<mat-button-toggle-group [value]="currentLang">
			<mat-button-toggle *ngFor="let culture of cultures" [value]="culture.language" (click)="setCulture($event, culture)">
				<i class="flag-icon flag-icon-{{ culture.language }}"></i>
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<mat-divider></mat-divider>

	<div class="setting units-setting">
		<span translate>{{ getLocalizationPath('units.settingName') }}</span>

		<mat-button-toggle-group [value]="currentUnit">
			<mat-button-toggle
				*ngFor="let unit of units | keys"
				class="unit-button-{{ unit.value }}"
				[value]="unit.value"
				(click)="setUnits($event, unit.value)"
			>
				{{ getUnitsTranslationPath(unit.value) | translate }}
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<button mat-raised-button color="primary" class="close-button">{{ getLocalizationPath('close') | translate }}</button>
</mat-menu>
